@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome Global Ticket Company</h1>
    <p>Checkout <a href="https://github.com/thangnguyenofficial">micro-services architecture project example</a>.</p>
</div>
